@font-face{font-family:'Gotham Book';src:url(../../../assets/fonts/Gotham-Book.woff2?h=1e341291ccb064bdddeda506c92ab405) format('woff2'),url(../../../assets/fonts/Gotham-Book.woff?h=1e341291ccb064bdddeda506c92ab405) format('woff');font-weight:normal;font-style:normal}