@font-face{font-family:'Gotham-Black';src:url(../../../assets/fonts/Gotham-Black.woff2?h=20636692150b2619aad8299b43dba579) format('woff2'),url(../../../assets/fonts/Gotham-Black.woff?h=20636692150b2619aad8299b43dba579) format('woff');font-weight:500;font-style:normal}