@font-face{font-family:'Gotham-Medium';src:url(../../../assets/fonts/Gotham-Medium.woff2?h=7330d2478d3e0c6ff1909d714db62cf9) format('woff2'),url(../../../assets/fonts/Gotham-Medium.woff?h=7330d2478d3e0c6ff1909d714db62cf9) format('woff');font-weight:500;font-style:normal}